blockquote{
    color: red
}


strong{
    color: red
}

h1{
    color: rgb(111, 46, 177)
}

body{
    font-weight: 900
    
}

#test{

  border: 1px solid green;
  text-align: center;
  letter-spacing: 1em;
  line-height: 3em
  
    
}